jhtml,
body {
    height: 100%;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header"
        "sidebar content";
}

.header {
    grid-area: header;
    position: sticky;
    top: 0;
    background: #f00;
    color: white;
    display: grid;
    border-bottom: thin solid #eee;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "brand search profile";
    z-index: 20;
}

.brand {
    grid-area: brand;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.search {
    grid-area: search;
    width: min(75%, 30rem);
    margin: auto;
}

.search-outer {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    border: thin solid #ccc;
    border-radius: 100rem;
    height: 2rem;
    overflow: hidden;
}

.search-icon {
    border-radius: 50rem 0 0 50rem;
}

.search-input {
    border: none;
    flex: 1;
    padding-inline: 1rem;
    border-radius: 0 50rem 50rem 0;
}

.profile {
    grid-area: profile;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    margin-right: 1rem;
}

.profile > img {
    border-radius: 50%;
}

.sidebar {
    grid-area: sidebar;
    padding: 0 1rem;
    border-right: thin solid #f00;

    max-height: calc(100vh - 80px);
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar > ul:not(:first-child) {
    border-top: thin solid #ccc;
}

.sidebar > ul {
    margin-top: 2rem;
    list-style-type: none;
    padding: 1rem 0;
}

.sidebar ul > li:first-child h3 {
    margin-block: 0.25rem;
    font-size: 1rem;
}

.sidebar ul > li:not(:first-child) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0.5rem 0;
}

.sidebar ul > li img {
    border-radius: 50%;
}

.content {
    grid-area: content;
    overflow: hidden;
}

.tags {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 1rem;
    position: relative;
    height: 80px;
    background: white;
    overflow-x: auto;
    overflow-y: hidden;
}

.tags > .tag {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background: #ddd;
    cursor: pointer;
    white-space: nowrap;
}

.tags > .tag.dark {
    background: #333;
    color: white;
}

.video-content {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 2rem;
    overflow: hidden;
    max-height: calc(100vh - 160px);
    overflow-y: auto;
}

.video-content > .video {
    display: flex;
    flex-direction: column;
}

.video-content > .video h3 {
    margin-top: 0.5rem;
    margin-bottom: 0;
}
.video-content > .video p {
    margin-top: 0.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .channel-name {
        display: none;
    }

    .container {
        grid-template-columns: auto 1fr;
    }
    .video-content > .video h3 {
        font-size: 30px;
    }

    .video-content > .video p {
        font-size: 25px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    div.sidebar {
        display: none;
    }

    .youtube {
        display: none;
    }

    div.brand {
        display: grid;
        width: fit-content;
        grid-template-areas: "brand search profile";
    }

    div.profile {
        display: none;
    }

    .header {
        grid-template-columns: 1fr 1;
        background: white;
    }

    .video-content > .video h3 {
        font-size: 45px;
    }

    .video-content > .video p {
        font-size: 30px;
    }
}
